// app global css in SCSS form
.text-4a77ff {
  color: #4a77ff;
}
.text-5e626f {
  color: #5e626f;
}
.text-24252f {
  color: #24252f;
}
.text-343741 {
  color: #343741;
}
.text-40e2e8 {
  color: #40e2e8;
}
.bg-8bb4ff {
  background-color: #8bc4ff;
}
